.button-short {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 30%;
  right: 5%;
  height: 40%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: $Cyan;
  color: white;
  padding: 0rem 1.5rem;

  &:hover {
    cursor: pointer;
  }
}
