.button-short {
  border-radius: 5px;
  height: 40%;
  width: 8rem;
  border: none;
  outline: none;
  background-color: $Cyan;
  color: white;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.top-container-button {
  height: 2.8rem;
  width: calc(7.5rem + 2vh + 2vw);
  border-radius: 30px;
  background-color: $Cyan;
  color: white;
  font-weight: 500;
  font-size: calc(0.5rem + 0.4vh + 0.4vw);
  margin-top: 3rem;
  border: none;
  outline: none;

  @media screen and (max-width: 768px) {
    height: 3.5rem;
    width: 11rem;
    margin-top: 2rem;
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.top-footer-button {
  position: absolute;
  margin-top: 4.5rem;
  height: 2.8rem;
  width: calc(7.5rem + 2vh + 2vw);
  font-weight: 500;
  font-size: calc(0.5rem + 0.4vh + 0.4vw);
  background-color: $Cyan;
  border: none;
  outline: none;
  border-radius: 30px;
  color: white;

  @media screen and (max-width: 768px) {
    height: 3.5rem;
    width: 11rem;
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.button-copy-shortlink {
  margin-left: 1rem;
  padding: 0.3rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: $Cyan;

  @media screen and (max-width: 768px) {
    margin-left: 0rem;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}
