.footer {
  display: flex;
  // height: 20rem;
  width: 100%;
  padding: 3rem 8rem;
  background-color: $Very-Dark-Violet;
  gap: 18rem;

  .container-left {
    color: white;
  }
  .container-right {
    display: flex;
    gap: 3.5rem;

    h4 {
      margin-bottom: 1rem;
    }

    li {
      display: flex;
      color: $Gray;
    }

    .feature {
      color: white;
    }

    .resources {
      color: white;
    }

    .company {
      color: white;
    }

    .redes-sociales {
      display: flex;
      column-gap: 1.5rem;
      height: 2rem;
    }
  }
}
