.footer {
  display: flex;
  // height: 20rem;
  width: 100%;
  padding: 3rem 8rem;
  background-color: $Very-Dark-Violet;
  gap: 18rem;

  .container-left {
    color: white;
  }
  .container-right {
    display: flex;
    gap: 4rem;

    .feature {
      color: white;

      h4 {
        margin-bottom: 1rem;
      }

      li {
        display: flex;
        color: $Gray;
        margin-bottom: 0.5rem;
      }
    }

    .resources {
      color: white;

      h4 {
        margin-bottom: 1rem;
      }

      li {
        color: $Gray;
        display: flex;
        margin-bottom: 0.5rem;
      }
    }

    .company {
      color: white;
      h4 {
        margin-bottom: 1rem;
      }

      li {
        display: flex;
        color: $Gray;
        margin-bottom: 0.5rem;
      }
    }

    .redes-sociales {
      display: flex;
      column-gap: 1.5rem;
      height: 2rem;
    }
  }
}
