input {
  //  position: absolute;
  top: 30%;
  height: 40%;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  text-indent: 1rem;

  @media screen and (max-width: 768px) {
    height: 100%;
    width: 100%;
    font-size: 14px;
  }
}
::placeholder {
  position: absolute;
  transform: translateY(+66%);
  text-indent: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    transform: translateY(+45%);
  }
}
