.div-input-button {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: transparent;
  gap: 1rem;
  padding: 2.1rem;

  input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    text-indent: 1rem;
  }
  button {
    height: 100%;
    width: 8rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: $Cyan;
    color: white;
  }
  ::placeholder {
    position: absolute;
    top: 30%;
  }
  button:hover {
    cursor: pointer;
  }
}
