.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 8rem;

  @media screen and (max-width: 768px) {
    position: relative;
    margin-top: 2.5rem;
    padding: 0rem 1rem;
  }
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 100%;

  .pages-link.visible {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 3rem;
    margin-bottom: 0.5rem;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-top: 15rem;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      padding-top: 2.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      gap: 1rem;
      width: 90%;
      background-color: $Dark-Violet;
      border-radius: 10px 10px 0px 0px;
      z-index: 1;
    }

    a {
      color: $Grayish-Violet;
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;

      @media screen and (max-width: 768px) {
        color: white;
        font-size: 1.1rem;
      }
    }
  }

  .pages-link.invisible {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 3rem;
    margin-bottom: 0.5rem;

    @media screen and (max-width: 768px) {
      display: none;
    }

    a {
      color: $Grayish-Violet;
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
.menu-seccion-container {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
    margin-bottom: 0.5rem;
    color: $Grayish-Violet;
  }

  &:hover {
    cursor: pointer;
  }
}
.session-container.visible {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.5rem;

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 35rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    gap: 1rem;
    width: 90%;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid $Grayish-Violet;
    background-color: $Dark-Violet;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 1;
  }

  .login {
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    color: $Grayish-Violet;
    font-weight: 700;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    outline: none;

    @media screen and (max-width: 768px) {
      color: white;
      font-size: 1.1rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .signup {
    width: 5.5rem;
    height: 2rem;
    background-color: $Cyan;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    outline: none;

    @media screen and (max-width: 768px) {
      width: 100%;
      font-size: 1.1rem;
      height: 2.2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.session-container.invisible {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.5rem;

  @media screen and (max-width: 768px) {
    display: none;
  }

  .login {
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    color: $Grayish-Violet;
    font-weight: 500;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
  .signup {
    width: 5.5rem;
    height: 2rem;
    background-color: $Cyan;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}
